In [2]:
import pandas as pd

In [32]:
# read in data file
input = pd.read_csv('data/4.csv', header=None)

In [33]:
# split existing columns by '-' character
input[2] = input[0].str.split(pat='-')
input[3] = input[1].str.split(pat='-')

input_ref = input[[2, 3]].copy()

In [34]:
# convert ranges to single ints
low1 = []
for i in input_ref[2]:
    low1.append(int(i[0]))

high1 = []
for i in input_ref[2]:
    high1.append(int(i[1]))

low2 = []
for i in input_ref[3]:
    low2.append(int(i[0]))

high2 = []
for i in input_ref[3]:
    high2.append(int(i[1]))

# convert single ints back to a dataframe
df_ref = pd.DataFrame({
    'low1':low1,
    'high1':high1,
    'low2':low2,
    'high2':high2
})

In [35]:
df_ref

     low1  high1  low2  high2
0      20     45    13     44
1       7      8     8     28
2       3     39    14     97
3      35     99    35     98
4      18     49    17     19
..    ...    ...   ...    ...
995    88     94    89     94
996    23     23    24     87
997    13     31    31     84
998    63     65     2     64
999    42     91    42     73

[1000 rows x 4 columns]

In [37]:
import numpy as np
df_ref['new1'] = np.where((df_ref['low1'] <= df_ref['low2']) & (
    df_ref['high1'] >= df_ref['high2']), 1, np.nan)

In [38]:
df_ref['new2'] = np.where((df_ref['low1'] >= df_ref['low2']) & (
    df_ref['high1'] <= df_ref['high2']), 1, np.nan)

In [43]:
df_ref.sum()

low1     31180.0
high1    67711.0
low2     29550.0
high2    67486.0
new1       216.0
new2       243.0
dtype: float64

In [44]:
df_ref[df_ref['new1'] == df_ref['new2']].count()